@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: clip;
  min-width: 100vw;
  min-height: 100vh;

  font-family: Poppins;
}

#app {
  overflow: clip;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

:root {
  /* Basic colors */
  --white: #ffffff;
  --red: #ff5454;
  --green: #9ad150;
  --orange: #ffa770;
  --yellow: #f3da8d;

  --blue: #b6cde2;
  --l-blue: #80a4ed;

  --d-gray: #a0a0a0;
  --l-gray: #d3d3d3;

  --d-black: #1d1d1b;
  --m-black: #2e3336;
  --l-black: #3e4851;
}

@layer base {
  * {
    --icon-color: hsla(var(--bc) / var(--tw-text-opacity, 1));
    --error-btn-text: hsl(var(--erc, var(--nc)) / var(--tw-text-opacity));

    --rounded-box: 0.25rem;
    --padding-card: 1rem;

    --hint-color: hsl(var(--bc) / 0.3);
  }

  [data-theme="lofi"] button:disabled {
    background-color: hsl(var(--bc) / 0.03);
  }

  [data-theme="lofi"] .text-error {
    color: var(--red);
  }

  [data-theme="lofi"] .bg-error {
    background-color: var(--red);
  }

  [data-theme="lofi"] .input-error {
    color: var(--red);
    border-color: var(--red);
    outline-color: var(--red);
  }

  [data-theme="lofi"] .input-error:focus {
    outline-color: var(--red);
  }
}
/* 
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
 */
